In [ ]:
from datascience import *
import numpy as np

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
nba.num_rows

In [ ]:
nba.num_columns

In [ ]:
nba.labels

In [ ]:
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)

In [ ]:
warriors.relabeled('salary', '$')

In [ ]:
warriors

In [ ]:
warriors = nba.where('team', 'Golden State Warriors').drop('team').relabeled('salary', '$')
warriors.show(3)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Street name', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
Table().with_columns(
    'Street name', streets,
    'Blocks from campus', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

## Where Method

In [ ]:
nba.where('salary', are.above(10000000))

In [ ]:
nba.where('salary', are.between(10000000, 20000000))

In [ ]:
nba.where('position', are.containing('G'))

## Print and string formatting