In [ ]:
from datascience import *
import numpy as np

### Why Names?

A cell with arithmetic but no names is difficult to interpret.

In [ ]:
# Option 1
40 * 15.00

In [ ]:
40 * 52 * 15.00

On January 1, 2022, the CA Minimum Wage for Employers with 26 Employees or More increased to $15/hour.

In [ ]:
# Option 2
ca_hourly_minimum_wage = 15.00
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

## Numbers ##

## Strings ##

## Types ##

## Arrays ##

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)